---
layout: default
---
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %y" }}</span>
		{% if post.doi %}
			<a href="{{ post.doi }}">
		{% else %}
			<a href="{{ post.url }}">
		{% endif %}
		{{ post.title }}</a>
    {% if post.notebook %}<a class="tag" href="{{ post.notebook }}">[notebook]</a>{% endif %}
    {% if post.notes %}<a class="tag" href="{{ post.notes }}">[notes]</a>{% endif %}
    {% if post.abstract %}<p class="post-abstract">{{ post.abstract }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
